#tabsAbout {
  border-bottom: 1px solid #ccc;

  .nav-link {
    text-transform: uppercase;
  }
  .nav-link.active,
  .show > .nav-link {
    border-bottom: 2px solid $primary;
    border-radius: 0px;
    font-weight: bold;
  }
}
