.books-details {
    $animation-time-quote: 1s;
    margin-bottom: 6rem;

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            position: relative;
            color: $primary;
            text-transform: uppercase;
            font-weight: 600;
            transition: color $animation-time-quote;
        }
        &__content {
            text-align: justify;
        }
        &:hover & {
            &__title {
                color: black;
            }
        }
    }
}
.modal-header {
    align-items: center !important;
}