.books-details {
    $animation-time-quote: 1s;
    margin-bottom: 6rem;

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            position: relative;
            color: $primary;
            text-transform: uppercase;
            font-weight: 600;
            transition: color $animation-time-quote;
        }
        &__content {
            text-align: justify;
        }
        &:hover & {
            &__title {
                color: black;
            }
        }
    }
}

$font-size-initial: 4em;
$font-size-final: 1.25em;
$margin-quote-left: -2.25rem;

@keyframes quote-left-in {
    from {
        font-size: $font-size-initial;
    }
    to {
        font-size: $font-size-final;
        color: lighten($primary, 0%);
        margin-left: $margin-quote-left;
    }
}
@keyframes quote-left-out {
    from {
        font-size: $font-size-final;
        color: lighten($primary, 0%);
        margin-left: $margin-quote-left;
    }
    to {
        font-size: $font-size-initial;
    }
}

@keyframes quote-right-in {
    from {
      font-size: $font-size-initial;      
    }
    to {
        font-size: $font-size-final;
        color: lighten($primary, 0%);
    }
}
@keyframes quote-right-out {
    from {
        font-size: $font-size-final;
        color: lighten($primary, 0%);
    }
    to {
        font-size: $font-size-initial;
    }
}


// not reverse row on small screen
@include respond-below(sm) {
    .books-details {
        // &:nth-child() {
        //     flex-direction: row!important;
        // }
    }
}
