.contact {
  padding-top: $padding-y-section;
  background: $section-bg;
}
.noo-information {
  text-align: center;
  padding: 0 15px;

  i {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid $primary;
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    transition: all 1s ease 0s;
  }
  h5 {
    text-transform: uppercase;
    margin: 28px 0 15px;
  }
}
.noo-information:hover i {
  background-color: $primary;
  color: text-color('dark');
}
.form-contact--label {
  text-transform: uppercase;
  font-weight: 400;
}
.is-danger {
  border: 1px solid $danger !important;
}
.error-message {
  @extend .small;
  @extend .text-danger;
  @extend .text-uppercase;
}