.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

// remove focus btn
button:focus {
    outline: none !important;
    outline:0 !important;
}

// tag p
.p, p {
    font-family: $font-family-paragraph;
    color: #888888;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-base;
}

//transitions all
*:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

// title & subtitle
.text {
  &--attach {
    text-transform: uppercase;
    font-weight: 500;

    &:after {
      width: 30px;
      height: 2px;
      content: '';
      background: $primary;
      display: inline-block;
      -webkit-transform: translate(20px, -6px);
      -ms-transform: translate(20px, -6px);
      -o-transform: translate(20px, -6px);
      transform: translate(20px, -6px);
    }
  }
  &--title {
    text-transform: uppercase;
    font-weight: 700;
  }
}

// class for images

.cover {
    object-fit: cover
}
.contain {
    object-fit: contain;
}
