.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

// remove focus btn
button:focus {
    outline: none !important;
    outline:0 !important;
}

// tag p
.p, p {
    font-family: $font-family-paragraph;
    color: #888888;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-base;
}

//transitions all
*:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
