.main-title {
  text-transform: uppercase;
  margin: $margin-y-section 0;
  .attach {
    color: $primary;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2.2px !important;
    font-weight: 600;
    margin-bottom: 0.8375rem;
  }
  .title {
    padding-bottom: 0.625rem;
  }
  .small_line {
    width: 3rem;
    height: 3px;
    background-color: $primary;
  }
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
