$enable-responsive-font-sizes: true;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Source+Sans+Pro:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lora:400i&display=swap');
// fonts
$font-family-paragraph:      'Lora', serif;
$font-family-base:           'Montserrat', sans-serif;
$font-family-secondary:      'Raleway', sans-serif;
$font-size-base:             0.9375rem;

// inputs
$input-border-radius:        3px;
$input-bg:                  #f5f5f5;
$input-color:               #747474;
$input-height:               2.5rem;
$input-font-size:            $font-size-base;

// buttons
$btn-border-radius:          0rem;
$btn-focus-width:            0rem;
$btn-font-weight:            700;
$btn-font-size:              $font-size-base;
$btn-focus-box-shadow:        none;

// colors
$primary:                     #0cb799;
$secondary:                  $gray-600;
$success:                    $primary;
$info:                       $cyan;
$warning:                    $yellow;
$danger:                     #e91e63;
$light:                      $gray-100;
$dark:                       $gray-800;
$white:                     #fff;
$veox-color:                #479894;

// custom theme colors
$theme-colors: (
  "primary":                 $primary,
  "accent":                  $black
);

// custom text colors
$text-colors: (
  "dark":         $dark,
  "light":        $light,
  "gray":         $gray-500,
  "primary":      $primary
);

// body
$body-bg:                             #fff;
$section-bg:                          #f9f9f9;

// navbar
$navbar-bg:                           rgba(0, 0, 0, 0.75);
$navbar-bg-opacity:                   .8;
$nav-text-color:                      $gray-100;
$nav-text-color-active:               $primary;
$navbar-dark-toggler-border-color:    transparent;

//sections
$padding-y-section:                   3rem;
$margin-y-section:                    3rem;

//pages
$margin-y-page:                       7rem;

//tabs navbs
$link-color:                          #ccc;
$link-hover-color:                    $primary;
$nav-pills-link-active-color:         $primary;
$nav-pills-link-active-bg:            transparent;

// MODAL
$close-color:                         $primary;
$modal-content-border-width:          0;
$modal-content-border-radius:         0.1rem;