@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap');

// fonts
$font-family-paragraph: 'Raleway', sans-serif !default;
$font-family-base: 'Montserrat', sans-serif !default;
$enable-responsive-font-sizes: true;

// colors
$primary:       #FFD700;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$veox-color: #479894;

// custom theme colors
$theme-colors: (
  "primary": $primary,
  "accent": $black
);

// custom text colors
$text-colors: (
  "dark": $dark,
  "light": $light,
  "primary": $primary
);

// body
$body-bg: whitesmoke;

// navbar
$navbar-bg: $dark;
$navbar-bg-opacity: .85;
$nav-text-color: $gray-100;
$nav-text-color-active: $primary;

//sections
$padding-y-section: 3rem;
$margin-y-section: 3rem;

//pages
$margin-t-page: 7rem;
