// Styling for the footer
.footer  {
  .footer_creator{
    padding: 25px 0;
    span.copyright {
      text-transform: uppercase;
      font-weight: 500;
      color: #888888;
    }
  }
}
.wrap-footer {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background: #f2f2f2;
  .socials_personal {
    .fa-stack-2x {
      color: #ccc;
      // &:hover {
      //   color: $primary;
      //   border: 4px solid rgba(235, 80, 55, 0.3);
      // }
    }
    .fa-stack:hover {
      .fa-stack-2x {
        color: $primary;
      }
    }
  }
}

// icons round
.fa-stack-2x {
  color: $primary;
}
.fa {
  min-width: 1.8rem;
  height: auto;
  text-align: center;
}

.text-veox {
  color: $veox-color;
  &:hover {
    color: mix($veox-color, $white, 80%);
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .text-xs-center {
    text-align: center !important;
  }
}

// .wrap-footer {
//   padding: 0 0 0;
//   background: #fcfcfc;
//   color: #333333;
// }

// .wrap-footer a {
//   color: #333333;
// }

// .wrap-footer .widget-title {
//   color: #333333;
// }

// .wrap-footer .widget_rss li .rsswidget {
//   color: #ffffff;
// }

// .wrap-footer .wigetized {
//   border-top: 1px solid #f2f2f2;
//   padding: 100px 0 50px;
// }

.widget-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 32px;
  margin-top: 15px;
}

// .widget {
//   margin-top: 30px;
// }

// .widget:first-child {
//   margin-top: 0;
// }

// .widget ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .widget ul li a {
//   font-size: 14px;
//   line-height: 24px;
// }

// .widget ul li ul {
//   margin: 0.4688em 0 0 1em;
//   padding-top: 0.4688em;
// }

// .widget select,
// .widget input,
// .widget textarea {
//   width: 100%;
//   height: 40px;
// }

// .textwidget img {
//   margin-bottom: 10px;
// }

// .textwidget .wp-caption .wp-caption-text,
// .textwidget .entry-caption,
// .textwidget .gallery-caption {
//   color: #eeeeee;
//   margin-top: 10px;
// }

// .widget_calendar table {
//   border-width: 1px 0 0 1px;
//   border-style: solid;
//   border-color: #eeeeee;
// }

// .widget_calendar table caption {
//   margin-bottom: 15px;
// }

// .widget_calendar table td,
// .widget_calendar table th {
//   border-width: 0 1px 1px 0;
//   border-style: solid;
//   border-color: #eeeeee;
// }

// .widget_rss li {
//   margin-bottom: 30px;
// }

// .widget_rss li .rsswidget {
//   font-weight: 700;
// }

// .widget_rss li .rss-date {
//   display: block;
// }

// .noo-bottom-bar-content {
//   background: #ffffff;
//   padding: 20px 0;
//   border-top: 1px solid #f2f2f2;
// }

// .noo-bottom-bar-content p {
//   margin-bottom: 0;
//   font-size: 13px;
//   font-weight: 500;
//   text-transform: uppercase;
//   color: #888888;
//   margin: 3px 0 0 0;
// }

// a.go-to-top,
// a.go-to-top:hover a.go-to-top:focus {
//   background-color: rgba(0, 0, 0, 0.15);
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
//   bottom: 72px;
//   opacity: 0;
//   filter: alpha(opacity=0);
//   position: fixed;
//   right: -60px;
//   -webkit-transition: all 0.2s ease-in-out 0s;
//   -o-transition: all 0.2s ease-in-out 0s;
//   transition: all 0.2s ease-in-out 0s;
//   color: #fff;
//   font-size: 40px;
//   height: 50px;
//   line-height: 1;
//   text-align: center;
//   width: 50px;
//   z-index: 100;
//   visibility: hidden;
// }

// a.go-to-top.on,
// a.go-to-top:hover a.go-to-top:focus.on {
//   opacity: 0.8;
//   filter: alpha(opacity=80);
//   visibility: visible;
//   right: 20px;
// }

// a.go-to-top.on:hover,
// a.go-to-top:hover a.go-to-top:focus.on:hover {
//   opacity: 1;
//   filter: alpha(opacity=100);
// }

// .widget .noo-infomation-attr {
//   margin-top: 30px;
// }

// .widget .noo-infomation-attr li {
//   margin-top: 10px;
//   position: relative;
// }

// .widget .noo-infomation-attr li:after {
//   clear: both;
//   content: '';
//   display: table;
// }

// .widget .noo-infomation-attr li .infomation-directions {
//   position: absolute;
//   font-size: 16px;
//   color: #aaaaaa;
//   top: 3px;
//   left: 0;
// }

// .widget .noo-infomation-attr li .infomation-icon {
//   padding-right: 12px;
//   font-size: 16px;
//   color: #aaaaaa;
//   -webkit-transform: translate(0, 3px);
//   -ms-transform: translate(0, 3px);
//   -o-transform: translate(0, 3px);
//   transform: translate(0, 3px);
//   display: inline-block;
// }

// .widget .noo-infomation-attr li address {
//   padding-left: 30px;
//   margin: 0;
// }

// .widget .noo-infomation-attr li:hover .infomation-icon,
// .widget .noo-infomation-attr li:hover .infomation-directions {
//   -webkit-transition: all 0.1s ease 0s;
//   -o-transition: all 0.1s ease 0s;
//   transition: all 0.1s ease 0s;
//   color: #eb5037;
// }

.social-all {
  margin-top: 20px;
}

.social-all a {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #cccccc;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  margin: 10px 8px 0 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  text-decoration: none !important;
}

.social-all a:after {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid rgba(235, 80, 55, 0.3);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 0;
  filter: alpha(opacity=0);
}

.social-all a:hover {
  background: #eb5037;
  color: #ffffff;
}

.social-all a:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.widget_nav_menu ul li a {
  line-height: 35px;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none !important;
}

.widget_nav_menu ul li a:before {
  content: "\f178";
  font-family: 'FontAwesome';
  margin-left: -18px;
  padding-right: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #eb5037;
}

.widget_nav_menu ul li a:hover {
  color: #eb5037;
}

.widget_nav_menu ul li a:hover:before {
  margin-left: 0;
}

.noo-instagram ul {
  margin: 0 -5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.noo-instagram ul li {
  display: inline-block;
  width: 25%;
  padding: 5px;
}

.noo-instagram ul a {
  display: block;
  overflow: hidden;
  position: relative;
}

.noo-instagram ul a:hover:after {
  top: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.noo-instagram ul a:hover:before {
  opacity: 1;
  filter: alpha(opacity=100);
}

.noo-instagram ul a:after {
  content: "\f064";
  font-family: 'FontAwesome';
  position: absolute;
  font-size: 12px;
  color: #ffffff;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.noo-instagram ul a:before {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.noo-instagram ul a img {
  width: 100%;
}
