@import './variables.scss';
@import './mixins.scss';
@import './navbar.scss';
@import './book.scss';

body {
    background-color: whitesmoke;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}