.testimonial {
    padding: 2rem;
}

.testimonial-left {
	box-sizing: border-box;
	padding: 40px 100px;
}
.testimonial-left .owl-buttons {
	display: none;
}
@media (max-width: 480px) {
	.testimonial-left {
		padding: 50px 15px;
		clear: left;
	}
}

.testimonial-header h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0 0 8px 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.testimonial-header p {
    font-weight: 500;
}

.testimonial-wrap.style-navi {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.testimonial-wrap.style-navi .owl-controls .owl-buttons .owl-next,
.testimonial-wrap.style-navi .owl-controls .owl-buttons .owl-prev {
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.testimonial-wrap.style-navi .noo_testimonial {
    margin: 50px 0 0 0;
}

.testimonial-wrap.style-navi .noo_testimonial:before {
    display: none;
}

.testimonial-wrap.style-navi .noo_testimonial li > img {
    float: none;
    display: none;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content {
    margin-left: 0;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content .testi-footer {
    display: inline-block;
    margin-left: 0;
    padding-top: 35px;
    position: relative;
    margin-top: 13px;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content .testi-footer:after {
    width: 80px;
    top: 0;
    content: '';
    height: 1px;
    background: #eeeeee;
    position: absolute;
    display: block;
    margin-left: -40px;
    left: 50%;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content .testi-footer:after {
    clear: both;
    content: '';
    display: table;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content .testi-footer .testi-author {
    float: left;
    padding-left: 27px;
    color: #555555;
    line-height: 24px;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content .testi-footer .testi-author:after {
    display: none;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content .testi-footer .testi-author strong {
    text-align: left;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #888888;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content p {
    text-indent: 0;
    padding-left: 15px;
    color: #666;
}

.testimonial-wrap.style-navi .noo_testimonial li .noo-testi-content i {
    left: -15px;
}

.noo_testimonial {
    list-style: none;
    margin: 75px 0 0 0;
    padding: 0;
    position: relative;
}

.noo_testimonial div.owl-controls {
    margin: 0;
}

.noo_testimonial:before {
    width: 100%;
    max-width: 750px;
    top: -75px;
    content: '';
    height: 1px;
    background: #eeeeee;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: block;
}

.noo_testimonial li {
    max-width: 815px;
    width: 100%;
    margin: auto;
    position: relative;
    cursor: ew-resize;
}

.noo_testimonial li:after {
    clear: both;
    content: '';
    display: table;
}

.noo_testimonial li img {
    float: left;
    max-height: 1.5rem;
    margin-right: .5rem;
    opacity: .75;
}

.noo_testimonial li .noo-testi-content {
    margin-left: 105px;
    position: relative;
    font-weight: 500;
}

.noo_testimonial li .noo-testi-content i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 12px;
}

.noo_testimonial li .noo-testi-content p {
    line-height: 24px;
    text-indent: 20px;
    letter-spacing: 1px;
    // margin-bottom: 15px;
    min-height: 7.5rem;
}

.noo_testimonial li .noo-testi-content .testi-author {
    padding-top: 15px;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #666666;
    font-weight: 500;
}

.noo_testimonial li .noo-testi-content .testi-author:after {
    width: 80px;
    top: 0;
    content: '';
    height: 1px;
    background: #eeeeee;
    position: absolute;
    left: 0;
    display: block;
}

.noo_testimonial li .noo-testi-content .testi-author strong {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
}

.bg-control-icon {
    background-color: $black;
    border-radius: 50%;
    padding: .5rem .6rem .25rem;
}

.carousel-indicators > li {
    background-color: gray;
}